{
  "presets": [
    ["env", {
      "modules": "false"
    }],
    "react",
    "stage-1"
  ],
  "plugins": [
//    [
//      "css-modules-transform", {
//        "preprocessCss": "./preprocessCss/module-exporting-a-function.js",
//        "extensions": [".css", ".scss"]
//      }
//    ]
  ]
}
