{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react",
    "stage-1"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "stage-1"
      ],
      "plugins": [
        [
          "css-modules-transform", {
            "preprocessCss": "./preprocessCss/module-exporting-a-function.js",
            "extensions": [".css", ".scss"]
          }
        ]
      ]
    }
  }
}
