.SearchTypeSwitcher {
  display: flex;
  justify-content: space-between;
  .searchByGroup {
    .searchBy {
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 12px;
    }
    .searchByBtn {
      background-color: #F55263;
      border: none;
      border-radius: 2px;
      color: #FFFFFF;
      padding: 3px 12px;
      .active {
        background-color: #3C3C3C;
      }
    }
    .searchByTitle {
    }
  }

}

