.search {
  border: 1px solid #DDDDDD;
  padding: 15px 60px 20px;
  width: 100%;
  color: #F55263;
  background-image: url("../assets/img/popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  font-weight: 600;
  display: flex;
  position: relative;
  box-sizing: border-box;
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;

    .logo {
      margin-bottom: 30px;
    }
    .searchLabel {
      color: #FFFFFF;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .searchInput {
      background-color: #000000;
      padding: 10px 15px;
      width: 100%;
      border: none;
      border-bottom: 2px solid #F55263;
      margin-bottom: 10px;
      color: #FFFFFF;;
      /////  placeholder styles
      &:focus::-webkit-input-placeholder {color: transparent}
      &:focus::-moz-placeholder          {color: transparent}
      &:focus:-moz-placeholder           {color: transparent}
      &:focus:-ms-input-placeholder      {color: transparent}
    }
  }
}
